@import "tailwindcss";

@theme {
  /*  CUSTOM ANIMATIONS */
  --animate-scroll-right-to-left: scroll-right-to-left 25s linear infinite;
  --animate-menu-drop: menu-drop 0.3s ease-in-out;
  --animate-menu-item-fade: menu-item-fade 1.5s ease-in-out;
  /* ************************************************** */

  /*  CUSTOM FONTS */
  --font-helvetica: Helvetica, Arial, sans-serif;
  --font-neue-haas-grotesk-display: neue-haas-grotesk-display, sans-serif;
  --font-neue-haas-grotesk-text: neue-haas-grotesk-text, sans-serif;
  --font-georgia: Georgia, serif;
  --font-avant-garde: itc-avant-garde-gothic-pro, sans-serif;
  /*  ************************************************** */

  /*  CUSTOM COLORS */
  --color-blue-499: #2068ff;
  /*  ************************************************** */

  /*  CUSTOM ANIMATION KEYFRAMES */
  @keyframes scroll-right-to-left {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  @keyframes menu-drop {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  @keyframes menu-item-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*  ************************************************** */
}
